@model IEnumerable<Lab4Proyecto.Models.PaisString>

@{
    ViewBag.Title = "Index";
}

<h2>Diccionario 1</h2>


<p>
    @Html.ActionLink("Crear diccionario 1", "CrearPorArchivo")
     @Html.ActionLink("Ver diccionario 2", "Index2")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>            
            @Html.DisplayNameFor(model => model.faltantes)            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coleccionadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cambios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.faltantes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coleccionadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cambios)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Actualizar", new { id=item.nombre})            
        </td>
    </tr>
}

</table>
